@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,411&family=Raleway:wght@395&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif, Arial;
}

.header {
    background-color: #000;
    width: 100%;
    height: 102px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}
.header img{
    width: 100%;
}


.page{
    width: 85%;
    margin: auto;
    height: 100%;
    color: #000;
}

#menu {
    margin: auto;
    width: 30%;
    margin-top: 5px;
    height: 40px;
    font-size: 18px;
    display: flex ;
    align-items: center;
    justify-content: center;
}

#menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-right: 25px;
    padding-left: 25px;
    
    border-inline-start: rgb(0, 0, 0) solid 1px;

}
#about{
    border-inline-end: rgb(0, 0, 0) solid 1px;
}
#menu a:hover {
    border-bottom: rgb(3, 31, 75) solid 2px;
}



footer {
    height: 35px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px; 
    font-weight: bold;
    bottom: 0 !important;
    position: relative;
    
}

footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px
}

#footer{
    bottom: 0;
  left: 0;
  height: 40px;
  position: absolute;
  width: 100%;
}


#sobre {
    margin:0;
    font-size: 21px;
    margin-top: 17px;
    text-align:center;
    
}

/* RESPONSIVIDADE PARA COMPUTADOR MENOR */
@media (min-width: 769px) and (max-width: 1140px) {

    #menu {
        width: 50%;
    }
}
/* RESPONSIVIDADE PARA TABLETS */
@media (min-width: 426px) and (max-width: 768px){
    
    #menu {
        width: 60%;
    }
}
/*RESPONSIVIDADE PARA DISPOSITIVOS MÓVEIS*/
@media (max-width: 425px) {

    #menu {
        width: 100%;
    }
    #sobre img {
        width: 300px;  
    }
    .header {
        max-height: 80px;
    }
}